<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact_Details</title>
    <link href="./style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <ul class ="navbar">
        <li class="navbaritems"> <a href="#" class="itemtext"><h5>WT ASSIGNMENT</h5></a></li>
        <!-- <li class="navbaritems"><a href="#" class="itemtext">previous</a></li> -->
        <li class="navbaritems2"> <a href="./index.html" class="itemtext"><h5>Back</h5></a></li>
    </ul>
    <div class ="formdata">
        <h4 class="heading">CONTACT DETAILS</h4>
        <form>
            <div class="input">
            <label for ="name ">Name</label><br>
            <input type ="text" id="name" name ="name">
        </div>
        <div class="input">
            <label for =" Email">Email ID</label><br>
            <input type ="email" id="Email" name ="Email">
        </div>
        <div class="input">
            <label for="institute">Institute</label><br>
            <input type="text" id="institute" name="institute">

        </div>
        <div class="input">
            <label for="response">Enter Your Response</label><br>
            <input type="text" id="response" name="response">

        </div>
        <!-- <div class="input">
            <label for =" house">House No/Name</label><br>
            <input type ="text" id="house" name ="house">
        </div>
        <div class="input">
            <label for ="locality">Locality</label><br>
            <input type ="text" id="locality" name ="locality">
        </div>
        <div class="input">
            <label for =" city">City</label><br>
            <input type ="text" id="city" name ="city">
        </div>
        <div class="State">
            <label for =" state">State</label><br>
            <input type ="text" id="state" name ="state">
        </div> -->
        <button id ="submitbutton"> Enter Data</button>
        </form>
          
    </div>
</body>
</html>