<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <ul class ="navbar">
        <li class="navbaritems"> <a href="#" class="itemtext"><h5>WT ASSIGNMENT</h5></a></li>
        <!-- <li class="navbaritems"><a href="#" class="itemtext">previous</a></li> -->

    </ul>
    <div class="username">
        <div class="first"></div>
        <div class="second">
          <ul>
            <li>
              <h4>NAME :</h4>
              <h5>MIDHUN CHANRAN</h5>
            </li>
            <li>
              <h4>EMAIL ID :</h4>
              <h5>midhun.chandran529@gmail.com</h5>
            </li>
            <li>
              
              <h5>Engineering Student</h5>
            </li>
          </ul>
        </div>
      </div>


      <div class= 'cvdetails'> 
          <div class="row1">
              <a href="./about.html"><div class="subdetail" id="about"><h3>About</h3></div> </a>
          <a href="./education.html"><div class="subdetail" id="education"><h3>Education</h3></div></a>
        </div>
          <div class="row1">
             <a href="./projects.html"><div class="subdetail" id="projects"><h3>Projects</h3></div></a>
             <a href="./contact.html"> <div class ="subdetail" id="contacts"><h3>Contact</h3></div></a>
            </div>
      </div>
</body>
</html>